
.calc {
   top: 60px;
   margin: 0 auto;
   height: 700px;
   width: 500px;
   top: 200px;
   border: 2px solid rgb(57, 56, 56);
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.955);

}
app-buttons{
   display: flex;
}